# Node
node_modules/
dist/

# Build artifacts
*.tsbuildinfo

# clasp
.clasprc.json

# Env
.env
.env.*
!.env.sample

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
